@font-face {
  font-family: 'Rowdies';
  src: url('./fonts/Rowdies-Bold.ttf');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(#e66465, #9198e5);
  font-family: 'Rowdies', sans-serif;
  font-size: 48px;
  color: white;
}

.timer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.field {
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  body {
    font-size: 96px;
  }

  .timer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100vw;
  }

  .field {
    margin-bottom: 10px;
  }
}
